@import 'constants.scss';

.controls {
  display: flex;
  align-items: center;

  margin-bottom: $gutterMd;
  text-align: right;

  & > .control {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

.numbersControl {
  margin-left: $gutterMd;
}
