@import 'constants.scss';

$flickrImgSize: 170px;

.modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: $gutterLg;
}

.giphyModal {
  position: relative; // For positioning .giphyAttribution
}

.giphyAttribution {
  background-color: white;
  border-top-left-radius: 5px;
  bottom: $gutterLg;
  padding: $gutterSm 0 0 $gutterSm;
  position: absolute;
  right: $gutterLg;
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
}

.search {
  flex: 1;
}

.closeIcon {
  cursor: pointer;
  margin-left: $gutterMd;
  width: 50px;
  height: 50px;

  fill: $colorMain;
  &:hover {
    fill: $colorSecondary;
  }
}

.modalResults {
  flex: 1;
  margin-top: $gutterLg;
  overflow: auto;
  text-align: center;
}

.flickrResults {
  margin-right: -$gutterMd;
  margin-bottom: -$gutterMd;
}

.flickrResult,
.flickrPlaceholder {
  width: $flickrImgSize;
  height: $flickrImgSize;
  margin-right: $gutterMd;
  margin-bottom: $gutterMd;
}

.flickrPlaceholder {
  display: inline-block;
  background-color: $colorSecondary;
  animation: pulse 1s alternate infinite;
}

.flickrResult {
  cursor: pointer;
}

.uploadInput {
  // https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: $gutterMd;
  }
}

.uploadButton {
  pointer-events: none; // Should click through to wrapper label
  margin-bottom: 0 !important; // Margin will be on wrapper label instead

  // Sync with Button.module.scss
  .uploadInput + label:hover & {
    color: $colorSecondary;
    background: $colorContrast;
  }

  // Sync with Button.module.scss
  .uploadInput:focus + label & {
    outline: none;
    border-color: $colorSecondary;
  }
}
