@import 'constants.scss';

.backgroundPicker {
  margin-top: $gutterMd;
}

.giphy {
  padding: $gutterMd;
}

.giphyResults {
  margin-top: $gutterMd;
  height: 60vh;
  overflow: auto;
}

.giphyButton {
  margin-right: $gutterMd;
}

.uploadInput {
  // https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    cursor: pointer;
    font-family: inherit;
    font-size: $fontSizeLg;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 25px 80px;
    text-transform: uppercase;
    transition: color $transition, background $transition;

    border: 3px solid $color3;
    color: $color3;
    &:hover,
    &:active {
      color: $color2;
      background: $color3;
    }
  }

  &:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}
