@import 'constants.scss';

.title {
  border-top: 1px solid $colorContrast;
  border-bottom: 1px solid $colorContrast;
  color: $colorContrast;
  font-size: $fontSizeXl;
  letter-spacing: 1px;
  margin: 0 0 $gutterLg;
  padding: $gutterSm;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.board {
  margin-bottom: $gutterLg;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.tile {
  background-repeat: no-repeat;
  user-select: none;

  border: 1px solid transparent; // For consistent sizing
  &.nonEmpty {
    border: 1px solid $colorContrast;
    cursor: pointer;

    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @include centerChildren();
  & > .number {
    color: $colorContrast;
    font-size: 40px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  &.slideUp {
    transition: transform $transition;
    transform: translateY(-100%);
  }
  &.slideDown {
    transition: transform $transition;
    transform: translateY(100%);
  }
  &.slideLeft {
    transition: transform $transition;
    transform: translateX(-100%);
  }
  &.slideRight {
    transition: transform $transition;
    transform: translateX(100%);
  }
}

.controls {
  margin-left: $gutterMd;
}

.controlHeader {
  display: inline-block;
  color: $colorContrast;
  border-top: 1px solid $colorContrast;
  border-bottom: 1px solid $colorContrast;
  font-size: $fontSizeSm;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: $gutterMd;
  padding: $gutterSm;
  text-transform: uppercase;
}

.control {
  &.main {
    height: 100px;
    font-size: $fontSizeLg;
  }
  &.warning {
    background-color: $colorWarning;
  }
  &.setting {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }
  font-size: $fontSizeMd;
  margin-bottom: $gutterMd;
  @include marginRightUnlessLast($gutterMd);
}
