@import 'constants.scss';

.wrapper {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
}

.tile {
  user-select: none;

  height: $tileSize;
  width: $tileSize;
  background-repeat: no-repeat;

  border: 1px solid transparent; // For consistent sizing
  &.nonEmpty {
    border: 1px solid $color3;
    cursor: pointer;

    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @include centerChildren();
  & > .number {
    color: $color3;
    font-size: 40px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  &.slideUp {
    transition: transform $transition;
    transform: translateY(-100%);
  }
  &.slideDown {
    transition: transform $transition;
    transform: translateY(100%);
  }
  &.slideLeft {
    transition: transform $transition;
    transform: translateX(-100%);
  }
  &.slideRight {
    transition: transform $transition;
    transform: translateX(100%);
  }
}

.controls {
  margin-left: $gutterMd;
}

.controlHeader {
  display: inline-block;
  color: $color3;
  border-top: 1px solid $color3;
  border-bottom: 1px solid $color3;
  font-size: $fontSizeSm;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: $gutterMd;
  padding: $gutterSm;
  text-transform: uppercase;
}

.controlGroup {
  @include marginBottomUnlessLast($gutterMd);
}

.control {
  &.main {
    width: 180px;
    height: 100px;
    font-size: $fontSizeLg;
  }
  @include marginRightUnlessLast($gutterMd);
}
