@import 'constants.scss';

// https://tympanus.net/codrops/2013/06/13/creative-button-styles/
.button {
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: $fontSizeLg;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 25px 80px;
  text-transform: uppercase;
  transition: color $transition, background $transition;

  border: 3px solid #fff;
  color: #fff;
  &:hover,
  &:active {
    color: $color2;
    background: $color3;
  }
}
