@import 'constants.scss';

// https://tympanus.net/codrops/2013/06/13/creative-button-styles/
.button {
  background: none;
  font-weight: bold;
  letter-spacing: 1px;
  padding: $gutterSm $gutterMd;
  text-transform: uppercase;
  transition: color $transition, background $transition;

  border: 3px solid $colorLight;
  background-color: $colorDark;
  color: $colorLight;

  // Sync with BackgroundPicker.module.scss .uploadButton
  &:hover:not(:disabled),
  &:active {
    color: $colorAccent;
    background: $colorLight;
  }

  // Sync with BackgroundPicker.module.scss .uploadButton
  &:focus {
    outline: none;
    border-color: $colorAccent;
  }

  &:disabled {
    border-color: grey;
    color: grey;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
