$colorDark: #4f5d75;
$colorLight: #ffffff;
$colorWarning: #ab3428;
$colorAccent: #ef8354;
$colorBackground: #2d3142;

$fontSizeSm: 16px;
$fontSizeMd: 20px;
$fontSizeLg: 28px;
$fontSizeXl: 36px;

$numberSize: 50px;
$transition: 250ms;

$gutterSm: 8px;
$gutterMd: 16px;
$gutterLg: 24px;

$zIndexModal: 10;

@mixin marginBottomUnlessLast($margin) {
  &:not(:last-child) {
    margin-bottom: $margin;
  }
}

@mixin marginRightUnlessLast($margin) {
  &:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin centerChildren() {
  display: flex;
  align-items: center;
  justify-content: center;
}
