$color1: #1a535c;
$color2: #4ecdc4;
$color3: #f7fff7;
$color4: #ff6b6b;
$color5: #ffe66d;

$fontSizeLg: 28px;

$tileSize: 100px;
$numberSize: 50px;
$transition: 250ms;
$gutterMd: 20px;

$zIndexModal: 10;

@mixin marginBottomUnlessLast($margin) {
  &:not(:last-child) {
    margin-bottom: $margin;
  }
}

@mixin centerChildren() {
  display: flex;
  align-items: center;
  justify-content: center;
}
