$colorMain: #3d5a80;
$colorSecondary: #f4a261;
$colorContrast: #edf2f4;
$colorBackground: #293241;
$colorWarning: #ab3428;

$fontSizeXs: 12px;
$fontSizeSm: 16px;
$fontSizeMd: 20px;
$fontSizeLg: 28px;
$fontSizeXl: 36px;

$numberSize: 50px;
$transition: 250ms;

// Sync with util.js
$gutterSm: 8px;
$gutterMd: 16px;
$gutterLg: 24px;

$zIndexModal: 10;

@mixin marginBottomUnlessLast($margin) {
  &:not(:last-child) {
    margin-bottom: $margin;
  }
}

@mixin marginRightUnlessLast($margin) {
  &:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin centerChildren() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}
