@import 'constants.scss';

.input {
  border: 3px solid $colorMain;
  box-sizing: border-box;
  color: $colorMain;
  font-size: $fontSizeLg;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;

  // Make space for search icon
  padding: $gutterMd $gutterMd $gutterMd ($gutterMd + $gutterSm + $fontSizeLg);

  &:focus {
    outline: none;
    border-color: $colorSecondary;
    color: $colorSecondary;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: $gutterMd;
  margin-top: -$fontSizeLg/2;
  width: $fontSizeLg;
  height: $fontSizeLg;
  fill: $colorMain;

  .input:focus + & {
    fill: $colorSecondary;
  }
}

.wrapper {
  position: relative;
}
