@import 'constants.scss';

.input {
  border: 0;
  color: $colorMain;
  font-size: $fontSizeLg;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color $transition, background $transition;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.icon {
  width: $fontSizeLg;
  height: $fontSizeLg;
  margin-left: $gutterMd;
  fill: $colorMain;
}

.wrapper {
  display: flex;
  align-items: center;
  border: 3px solid $colorMain;
  padding: $gutterMd;
}
